.errorText {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 4px;
    margin-bottom: 12px;
  }


.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .alertSuccess {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alertDanger {
    background-color: #f8d7da;
    color: #721c24;
  }

 
  
  .inputSuccess {
    border-color: #28a745;
    background-color: #d4edda;
  }
  
  .inputError {
    border-color: #dc3545;
    background-color: #f8d7da;
  }